@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}
.carousel-inner img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.container-img{
    width: 100px;
}


.cardUsuario img{
    width: 125px;
}

.cardUsuario{
    width: 100vw;
}

.carta img{
    height: 50vh;
}

.carta{
    height: 80vh;
}