@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}

.form-container{
    height: 85vh;
    justify-content: center;
    display: flex;
}

.form{
    width: 475px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input{
    width: 340px;
}

.form button{
    width: 200px;
}

.row{
    width: 100%;
}


@media only screen and (max-width: 530px) {

   .row{
    height: 50vh;
   }


    
} 